doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title Life
    link(rel="stylesheet" href="index.css")
  body
    div#wrap
    div#controls
      div
        span Generations:&nbsp;
        span.count 0
      div
        button.start Start
    script(src="scripts/index.js")
