doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title Life
    link(rel="stylesheet" href="index.css")
  body
    #wrap
    #counter
      span Generations:&nbsp;
      span.count 0
    script(src="scripts/index.js")
