
SIZE = 500px
FRAME_COLOR = #000
CELL_COLOR = #000

body
  font-family Helvetica, Arial, sans-serif
  color FRAME_COLOR

  header
    margin 0 auto
    width SIZE
    text-align center

  #wrap
    margin 0 auto
    padding 0
    width SIZE
    height SIZE
    border 1px solid #000

    .cell
      box-sizing border-box
      float left
      margin 0
      padding 0
      width 25px
      height 25px
      border 1px solid #eee
      text-align center
      font-size 10px
      line-height 2em
      vertical-align middle
      transition background-color 100ms

      &.a
        // background-color CELL_COLOR
        color #fff

  #controls
    margin 0 auto
    width SIZE
    font-size 18px
    line-height 2em
    text-align center

    button
      margin 0 1em
      background-color #fff
      border 1px solid #ccc
      font-size 18px

      &:not([disabled="true"]):hover
        background-color #eee

  #wrap:not(.active)
    .cell:hover
      background-color #eee
      cursor pointer
      &.a
        background-color #666
