
#wrap
  margin 0
  padding 0
  width 500px
  height 500px
  border 1px solid #ccc

  .cell
    float left
    margin 0
    padding 0
    width 50px
    height 50px

    &.a
      background-color #efefef
